@font-face {
    font-family: 'Hitmarker Condensed Black';
    src: url(../fonts/HitmarkerCondensed-Black.ttf);
}

@font-face {
    font-family: 'Hitmaker Text Regular';
    src: url(../fonts/HitmarkerText-Regular.ttf);
}

@font-face {
    font-family: 'Hitmarker Text Bold';
    src: url(../fonts/HitmarkerText-Bold.ttf);
}

.container h2 {
    margin-top: 60px;
    font-size: 3rem;
    line-height: 3rem;
    font-family: 'Hitmarker Condensed Black', Arial;
    font-weight: 900;
    font-style: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-content: center;
}

.visualHeadTitle {
    background-image: url('../assets/TitleTextures_Gray.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.visualHeadTitle::after {
    content: '';
    display: block;
    right: 0;
    top: 2px;
    height: auto;
    background: url(../assets/Redaction_Gray_Long.png) center center no-repeat;
    background-size: cover;
    flex-grow: 1;
    margin-left: 8px;
    margin-block: 8px;

}

.container h4 {
    font-family: 'Hitmarker Text Regular', Arial;
    font-weight: 900;
    font-style: normal;
}

.education-content {
    margin-bottom: 60px;
}


.education-content h4 {
    margin-top: 25px;
}

.education-info {
    display: flex;
    flex-flow: row wrap;
    justify-content:space-between;
}

.education-img img{
    width: 244px;
    height: 244px;
}

@media (max-width: 1199px) {

    .education-info {
        justify-content:center;
    }

  }